
body {
	font-family: Verdana, "Droid Sans", Arial, sans-serif;
}

h1 {
	font-size: 3em;
	text-align: center;
}

h2 {
	margin-top: 0px;
	padding: 0 1.6em 0 1.6em;
	text-align: left;
}

p {
	text-align: center;
}

#main {
	padding-top: 2vh;
	padding-bottom: 2vh;
}

#image {
	display: block;
	max-width: 100%;
	height: auto;
	margin: auto;
}

figcaption {
	margin-top: .5em;
	padding-left: 1em;
	padding-right: 1em;
	text-align: center;
}

figcaption > p {
	margin-top: .5em;
	margin-bottom: .5em;
	text-align: justify;
}

#tribute-info > p {
	margin-left: 2.5em;
	margin-right: 2.5em;
	text-align: justify;
}

#tribute-info > h2 {
	display: inline-block;
	text-align: left;
	margin: auto;
}

ul {
	list-style-position: inside;
	display: inline-block;
	text-align: left;
	margin-top: .5em;
	margin-bottom: 2em;
}

.lightborder {
	border-style: solid;
	border-width: 4px;
	border-color: #333;
}


.lbb {
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-bottom-color: #333;
}

@media (prefers-color-scheme: dark) {
	body { background-color: #333; color: #eee }
	.lightborder.darkborder { border-color: #eee; }
	.lbb.dbb { border-bottom-color: #eee; }
	a { color: dodgerblue };
}

@media (prefers-color-scheme: light) {
	body { background-color: #eee; color: #333 }
	.lightborder.darkborder { border-color: #333; }
	.lbb.dbb { border-bottom-color: #333; }
}
